@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: "DM Serif Display", sans-serif;
  line-height: 1;
}
.heading--primary {
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.heading--primary-white {
  color: #fafafa;
}
.heading--primary-black {
  color: #000;
}
.heading--secondary {
  font-size: 2.4rem;
}
.heading--tertiary {
  font-size: 5.4rem;
  color: #fafafa;
  font-weight: 400;
}

.text--white {
  color: #d0d0d0;
}

.btn {
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1.6rem 3.2rem;
  font-weight: 700;
}
.btn--white {
  background-color: #fff;
  color: #2d2640;
  border: 2px solid #2d2640;
}
.btn--white:hover {
  background-color: #2d2640;
  color: #fff;
}
.btn--black {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn--black:hover {
  background-color: #fff;
  color: #2d2640;
}
.btn:active {
  transform: scale(0.98);
}

.header {
  max-width: 111rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.navigation ul {
  list-style: none;
  display: flex;
  gap: 2.6rem;
}
.navigation ul a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #95a9c6;
}
.navigation ul li:hover a {
  color: #2d2640;
}

.hero {
  background-color: #2d2640;
  width: 100%;
  min-height: 60rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30rem;
}
.hero::after {
  content: "";
  background: url(./images/bg-pattern-intro-left-desktop.svg);
  position: absolute;
  width: 19.5rem;
  height: 50rem;
  bottom: -33rem;
  left: 0;
  z-index: 0;
}
.hero::before {
  content: "";
  background: url(./images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 43.7rem 50rem;
  width: 44rem;
  height: 60rem;
  top: 0;
  right: 0;
  z-index: 2;
}
.hero .text {
  margin-bottom: 3rem;
}
.hero__content {
  max-width: 111rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0 2rem;
}
.hero__text {
  z-index: 1;
}
.hero__img {
  position: relative;
}
.hero__img::before {
  content: "";
  position: absolute;
  background-image: url(./images/image-intro-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 0.83;
}

.line {
  height: 2px;
  width: 12rem;
  background-color: #d0d0d0;
  margin-bottom: 7rem;
}

.container {
  padding: 2rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

section {
  max-width: 111rem;
  width: 100%;
}

.about__cards {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.about__card img {
  margin-bottom: 4rem;
}
.about__card .heading {
  margin-bottom: 2.4rem;
}
.about__find-out {
  margin-top: 16rem;
  background-color: #2d2640;
  padding: 7rem;
  background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.find-out__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin-top: 15rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  background-image: url(./images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  padding: 3rem 2rem 5rem 2rem;
}
.footer__box {
  max-width: 111rem;
  width: 100%;
}
.footer__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  border-bottom: 1px solid #d0d0d0;
}
.footer__nav {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.socials a {
  text-decoration: none;
  color: #808085;
  font-size: 2rem;
  cursor: pointer;
}
.socials a:hover {
  color: #000;
}

.nav-box {
  text-transform: uppercase;
  font-weight: 700;
}
.nav-box .text--white {
  color: #a6a6a8;
  margin-bottom: 4rem;
}
.nav-box ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav-box ul a {
  text-decoration: none;
  color: #3a3945;
  cursor: pointer;
}
.nav-box ul a:hover {
  text-decoration: underline solid 1px #3a3945;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger .close {
  display: block;
}
.burger .open {
  display: none;
}
.burger.opened .close {
  display: none;
}
.burger.opened .open {
  display: block;
}

.burger-menu {
  display: none;
}
.burger-menu.active {
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 9.2rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: #2b272f;
  background-image: url(./images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: bottom;
}
.burger-menu.active .navigation-burger {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  width: 100%;
}
.burger-menu.active .navigation-burger ul {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 3.5rem;
}
.burger-menu.active .navigation-burger ul a {
  text-decoration: none;
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}
.burger-menu.active .navigation-burger .btn {
  width: 100%;
  font-size: 2rem;
}

@media only screen and (max-width: 1200px) {
  .hero::before {
    z-index: 0;
  }
}
@media only screen and (max-width: 900px) {
  .navigation {
    display: none;
  }

  .burger {
    display: block;
  }

  .hero {
    margin-bottom: 15rem;
    min-height: 95rem;
    align-items: flex-start;
  }
  .hero::after {
    background: url(./images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    top: 0;
    padding: 0rem;
  }
  .hero::before {
    background: url(./images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-size: 124px 330px;
    right: 0;
    top: inherit;
    bottom: -20rem;
    width: 13rem;
    height: 35rem;
  }
  .hero .line {
    display: none;
  }
  .hero__content {
    grid-template-columns: 1fr;
    grid-template-rows: 45rem 1fr;
    gap: 10rem;
    max-width: 50rem;
    padding: 0;
  }
  .hero__text {
    grid-row: 2/3;
    text-align: center;
    padding: 0 2rem;
  }
  .hero__img {
    position: relative;
  }
  .hero__img::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(./images/image-intro-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 40rem;
    aspect-ratio: 0.83;
    z-index: 1;
  }

  .about__find-out {
    background-image: url(./images/bg-pattern-how-we-work-mobile.svg);
  }
}
@media only screen and (max-width: 750px) {
  .heading--primary {
    font-size: 4.8rem;
  }

  .heading--tertiary {
    font-size: 3.6rem;
  }

  .about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .line {
    width: 15rem;
  }
  .about__cards {
    margin-top: 7rem;
    grid-template-columns: minmax(35rem, 45rem);
  }
  .about__find-out {
    padding: 4rem;
  }

  .find-out__box {
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
  }

  .footer {
    margin-top: 14rem;
    text-align: center;
  }
  .footer__header {
    flex-direction: column;
    gap: 3rem;
  }
  .footer__nav {
    grid-template-columns: 1fr;
    gap: 4.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .hero::after {
    top: 45rem;
    padding: 0rem;
  }
}

/*# sourceMappingURL=style.css.map */
